@model ProjFinRBEM.Models.User

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/AdminPage.css">

<h1>Inscription</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Users">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeOfUser" class="control-label">Type d'utilisateur</label>
                <select asp-for="TypeOfUser" class="form-control">
                    <option value="Invite">Invite</option>
                    <option value="MembreP">MembreP</option>
                    <option value="MembreR">MembreR</option>
                </select>
                <span asp-validation-for="TypeOfUser" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Prénom</label>
                <input readonly asp-for="FirstName" class="form-control" value="@Context.Session.GetString("InscrivezVousFirstName")" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" readonly class="form-control" value="@Context.Session.GetString("InscrivezVousUsername")" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly value="@Context.Session.GetString("InscrivezVousEmail")" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label">Date de naissance</label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" readonly class="form-control" value="@Context.Session.GetString("InscrivezVousPassword")" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <br>
            </div>
           @* <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
