@model ProjFinRBEM.Models.UserViewModel;


@{
    ViewData["Title"] = "Politique de confidentialité";
}

<style>
    body {
        overflow-y: scroll;
    }
</style>


<h1>@ViewData["Title"]</h1>


<h2>Collecte d'informations</h2>
<p>Lorsque vous utilisez notre site ou notre application, nous collectons certaines informations vous concernant, y compris :</p>
<ul>
    <li>Nom</li>
    <li>Nom d'utilisateur</li>
    <li>Adresse e-mail</li>
    <li>Numéro de mobile</li>
    <li>Identité de genre</li>
    <li>Date de naissance</li>
    <li>Photographies</li>
    <li>Lieu</li>
    
</ul>

<h2>Informations du profil</h2>
<p>Nous vous recommandons de faire attention aux informations que vous partagez sur votre profil. Nous ne recommandons pas de publier des adresses e-mail, des URL, des détails de messagerie instantanée, des numéros de téléphone, des noms complets ou des adresses, des détails de carte de crédit, des numéros d'identité nationale, des détails de permis de conduire et d'autres informations sensibles qui pourraient être utilisées de manière abusive.</p>



<h2>Informations de localisation</h2>
<p>Si vous avez autorisé l'accès à votre emplacement dans les paramètres de votre appareil, nous collecterons des informations sur votre emplacement pour personnaliser l'application et faciliter l'interaction avec d'autres utilisateurs.</p>


<h2>Questions ?</h2>
<p>Veuillez nous contactez au <a>doovoo@gmail.com</a> ou appelez au <a>1-800-334-5565</a></p>


